*.py[cod]
__pycache__
Solution.md
venv*/
.venv*/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox/
.cache/
htmlcov/
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# IDEs
.idea
.vscode

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.python-version

db.sqlite

localhost.crt
localhost.key
